## Introduction to the if Statement ##

In [5]:
x = 0
y = 5
if x < y:                               # Truthy
    print('yes')
if y < x:                               # Falsy
    print('yes')
if x:                                   # Falsy
    print('yes')
if y:                                   # Truthy
    print('yes')
if 'aul' in 'grault':                   # Truthy
    print('yes')
if 'quux' in ['foo', 'bar', 'baz']:     # Falsy
    print('yes')

yes
yes
yes

## Grouping Statements: Indentation and Blocks ##

In [6]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')

print('After conditional')

After conditional

In [7]:
#  Does line execute?                       Yes     No
#                                           ---     --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #         x
    
    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

## The else and elif Clauses ##

In [8]:
x = 20

if x < 50:
    print('(first suite)')
    print('(x is small)')
else:
    print('(second suite)')
    print('(x is large)')

(first suite)
(x is small)

In [9]:
x = 120

if x < 50:
    print('(first suite)')
    print('(x is small)')
else:
    print('(second suite)')
    print('(x is large)')

(second suite)
(x is large)

In [11]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [12]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [13]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [14]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

## One-Line if Statements ##

In [15]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [16]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [17]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [18]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

## Conditional Expressions ##

In [1]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [2]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [3]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [4]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [5]:
if a > b:
    m = a
else:
    m = b

NameError: name 'a' is not defined

## The Python pass Statement ##

In [7]:
if True:
    pass
    print('foo')

foo

## Python "while" Loops ##

In [8]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [9]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### The Python break and continue Statements ###

In [11]:
n = 5
while n > 0:
    n -= 1
    if n== 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [12]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

### The else Clause ###

In [13]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [15]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

### Infinite Loops ###
jangan di run

In [ ]:
while True:
    print('foo')

### Nested while Loops ###

In [17]:
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

NameError: name 'gender' is not defined

In [18]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))

    b = ['baz', 'qux']

    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

### One-Line While Loops ###

In [19]:
n = 5
while n > 0: n-=1; print(n)

4
3
2
1
0

## A Survey of Definite Iteration in Programming ##

### Numeric Range Loop ###

In [ ]:
for i = 1 to 10
    <loop body>

### Three-Expression Loop ###

In [ ]:
for (i = 1; i <= 10; i++)
    <loop body>

### Collection-Based or Iterator Based Loop ###

## The Python for Loop ##

In [20]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [22]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [23]:
for k in d:
    print(d[k])

1
2
3

In [25]:
for k in d.values():
    print(k)

1
2
3

In [26]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

## Iterating Through a Dictionary ##

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

In [27]:
for k in d:
    print(d[k])

1
2
3

In [28]:
for v in d.values():
    print(v)

1
2
3

## The range() Fuction ##

In [29]:
for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

In [31]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

## Altering for Loop Behavior ##

### The break and Continue Statements ###

In [32]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [33]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

### The else Clause ###

In [35]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.') #Will execute

foo
bar
baz
qux
Done.

In [36]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.') #Will not execute

foo

# COBA #

In [ ]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C:")
degree = int(temp[:-1])
i_converton = temp[-1]

if i_convertion == "C":
    result = int(round((9*degree)/5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32)* 5/9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

In [ ]:
while True:
    msg = input ("Ketikan karakter:").lower()
    print(msg)
    if msg == "stop":
        break

# LIVE SESION #

In [1]:
if True:
    print("COde ini jalan")

COde ini jalan

In [2]:
if "saya" in "Saya mau makan":
    print("iya, makan")

In [5]:
x = 5
y = 0

if x > y:
    print('jalan 1')

if x < y:
    print('jalan 2')

# Kalo bukan 0, angka itu dinilai True
if x:
    print('jalan 3')

if y:
    print('jalan 4')

if y 
    print('jalan 4')

#Kalo ada string, dinilai True
#Kalo empty string, dinilai False
if "a":
    print('jalan 5')
if "ada":
    print("jalan 6")

jalan 1
jalan 3
jalan 5

In [7]:
if True:
    print("Jalan")
    print("code block di dalam if")

print("code di luar if")

code di luar if

In [ ]:
if False:
    print("Jalan")
    print("code block di dalam if")

print("code di luar if")

In [11]:
# code block bisa nested
if True:
    print("jalan 1")
    if False:
        print("jalan 2")

jalan 1

In [14]:
if "foo" in ["foo", "bar", "baz"]:
    print("outer cond benar")

    if 10 > 20:
        print("inner cond 1")  #ga jalan
    
    if 10 < 20:
        print("inner cond 2")  #jalan

        if "o" in "foo":
            print("inner cond lv 2")  #jalan

    print("outer cond selesai") # jalan

print("di luar cond") #jalan

outer cond benar
inner cond 2
inner cond lv 2
outer cond selesai
di luar cond

In [20]:
if True:
    print("cond 1")
else:
    print("alternatif 1")
print("langsung ke sini")

cond 1
langsung ke sini

In [19]:
if False:
    print("cond 1")
else:
    print("alternatif 1")

alternatif 1

In [22]:
x = 20

if x < 50:
    print(("first suite"))
    print("x is small")
else:
    print("(second suite)")
    print("x is large")

(second suite)
x is large

In [23]:
x = 60

if x < 50:
    print(("first suite"))
    print("x is small")
else:
    print("(second suite)")
    print("x is large")

(second suite)
x is large

In [25]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [26]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")
print("selalu jalan")

uang tidak cukup
selalu jalan

In [27]:
if "a" in "bar":
    print("foo")
elif 1/0:
    print("ga jalan")
elif var:
    print("ga jalan")

foo

In [29]:
if True: print("cond 1"); print("cond 2")

cond 1
cond 2

In [30]:
if "f" in "foo": print("1"); print("2"); print('3')

1
2
3

In [31]:
if False: print("alternatif 1")
elif False: print("alternatif 2")
else: print("alternatif 3")

alternatif 3

In [32]:
x = 2
if x = 1: print("alternatif 1.1"); print("alternatif 1.2"); print("alternatif 1.3")
elif x = 2: print("alternatif 2.1"); print("alternatif 2.2")
else: print("alternatif 3")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2774089701.py, line 2)

## Ternary ##

In [33]:
raining = False
print("Lest's go to the", "beach" if not raining else "library")

Lest's go to the beach

In [34]:
raining = True
print("Lest's go to the", "beach" if not raining else "library")

Lest's go to the library

In [35]:
"a" if True else "b"

'a'

In [36]:
age = 24
s = "teen" if age < 21 else "adult"
s

'adult'

In [37]:
age = 12
if age < 21:
    s = "teen"
else:
    s = "adult"
s

'teen'

## Pass ##

In [38]:
if True:
    print("cond 1")

cond 1

In [39]:
if True:
    pass #ga ngapa2in
print ('foo')

foo

# While Loop

In [42]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [46]:
n = 10
while n > 0:
    print("terus")
    n -= 1
    print(n)

terus
9
terus
8
terus
7
terus
6
terus
5
terus
4
terus
3
terus
2
terus
1
terus
0

In [48]:
n = 1
while n < 11:
    print(n)
    n += 1
print("stop")

1
2
3
4
5
6
7
8
9
10
stop

## Break and Continue

In [49]:
while True:
    print("di dalam while")
    break
print("di luar while")

di dalam while
di luar while

In [53]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        break
    print(n)
print("n terakhir", n)
print("stop")

1
2
n terakhir 3
stop

In [54]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue
    print(n)
print("n terakhir", n)
print("stop")

1
2
4
5
n terakhir 5
stop

In [56]:
n = 0
while n < 5:
    n += 1
    print(n)
else:
    print("stop")

1
2
3
4
5
stop

In [57]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        break
    print(n)
else:
    print("stop")

1
2

## Truthy and Falsy

In [58]:
a = ["foo","bar"]
print(a)
print(a.pop())
print(a)

['foo', 'bar']
bar
['foo']

In [60]:
a = ["foo", "bar"]

while len(a):
    print(a.pop(0)) #jalan 1; jalan 1.2

    b = ["baz", "qux"] #jalan 2; jalan 2.2

    while len(b): # jalan 3.1; jalan 3.2
        print(">", b.pop(0))
    else:
        print(" inner loop selesai")

else:
print("outer loop selesai")

IndentationError: expected an indented block after 'else' statement on line 13 (432418015.py, line 14)

In [61]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

## For loop

In [62]:
for i in [0,1,2,3,4]:
    print(i)

0
1
2
3
4

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
for i in ["foo", "bar"]:
    print(i)

foo
bar

In [ ]:
d = {"foo": 1, "bar": 2, "baz":3}
for k in d:
    print(k)

print("=" * 8)

for v in d.values()
    print(v)

for i in d.items():
    print(i)

print

### Range

range(start,stop,step)

In [66]:
range(5)

range(0, 5)

In [67]:
range(10)

range(0, 10)

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
range(10,2)

range(10, 2)

In [70]:
list(range(10,2))

[]

In [71]:
range(0,10,2)

range(0, 10, 2)

In [72]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [73]:
range(10,2,-1)

range(10, 2, -1)

In [74]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [76]:
for i in range(15,0,-3):
    print(i)

15
12
9
6
3

In [77]:
for i in "range":
    print(i)

r
a
n
g
e

In [78]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        continue
    print(i)

foo
qux

In [79]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        break
    print(i)
else:
    print("loop selesai")

foo

In [80]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        continue
    print(i)
else:
    print("loop selesai")

foo
qux
loop selesai

In [ ]:
while True:
    temp = input("Input temperatur yang ingin dikonversi, eg. 45F, 120C:")
    degree = int(temp[:-1])
    i_convertion = temp[-1]


    if i_convertion == "C":
         o_convertion = "F"
         result_calc = int(round((9*degree)/5 + 32))
        break
    elif i_convertion == "F":
        o_convertion = "C"
        result_calc = int(round((degree - 32)* 5/9))
        break
        else:
            print("Masukan input yang benar")

    result = f"{result_calc}{o_convertion}"
   
    print("Temperaturnya adalah", result)

In [ ]:
while True:
    msg = input("Ketikkan karakter:"). lower()